# Unity generated
[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
UserSettings/
MemoryCaptures/

# Asset meta data should only be ignored when the corresponding asset is ignored
!/[Aa]ssets/**/*.meta

# IDE / Editor
.vscode/
.idea/
.vs/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.suo
*.tmp
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity Collaborate
.collab/

# OS
.DS_Store
Thumbs.db

.vsconfig
